@{
    ViewData["Title"] = "SignUp Page";
}
<style>
    .form-control1 {
        display: flex;
    }

    .form-control {
        max-width: 600px;
    }

    .form-control2 {
        margin: auto;
    }

    .signbg {
        background-image: url("../image/shoppingbag_bg_1A.jpg");
        height: 100vh;
    }
</style>
<body>
    <div class="signbg py-5">
        <form class="form-control form-control2 px-5 py-4" method="post">
            <h2 class="text-danger">SignUp</h2>
            <label class="form-label mb-4">Please fill in this form to create an account!</label>
            <div class="form-control1 mb-3">
                <input type="text" name="Fname" placeholder="FirstName" class="form-control" />
                <input type="text" name="Lname" placeholder="LastName" class="form-control" />
            </div>
            <div>
                <input type="email" name="Email" placeholder="Email" class="form-control mb-3 " />
            </div>
            <div>
                <input type="password" name="Password" placeholder="Password" class="form-control mb-3 " />
            </div>
            <div class="form-control1 mb-3">
                <label class="form-label mx-2">Gender :</label>
                <input class="form-check mx-2" type="radio" name="gender" value="Male" />Male
                <input class="form-check mx-2" type="radio" name="gender" value="Female" />Female
            </div>
            <div>
                <input type="number" name="Mobile" placeholder="Mobile Number" class="form-control mb-3 " />
            </div>
            <div>
                <input type="text" name="Address" placeholder="Address" class="form-control mb-5 bg-opacity-10" />
            </div>
            <div>
                <input type="submit" class="btn btn-primary" />
                <input type="reset" class="btn btn alert-secondary" />
            </div>
        </form>
    </div>
</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('form').on('submit', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'post',
                url: '@Url.Action("SignUp","SignUp")',
                data: $('form').serialize(),
                success: function () {
                    $('form')[0].reset();
                    alert("You have SignUp successfully.");
                }
            });
        });
    });
</script>