@model FirstWebMvc.Models.LoginData

@{
    ViewData["Title"] = "Login";
}
<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form class="form-control px-5 py-4 col-md-6" id="formdata">
                <div class="d-flex">
                    <h2 class="text-danger">Login</h2>
                    <button type="button" class="btn-close loginModal" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <label class=" pb-4"><strong>Welcome. </strong>Please Login</label>
                <div class="mb-3">
                    <label class="form-label" asp-for="Username">Username:</label>
                    <input type="text" class="form-control"  name="username" asp-for="Username" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label"asp-for="Password" >Password:</label>
                    <input type="password" class="form-control"  name="password" asp-for="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="forget mb-3">
                    <a href="#">forget password?</a>
                </div>
                <div class="btn1">
                    <div class="Remember">
                        <input type="checkbox" class="" required />
                        <label class="form-label1">Remember me</label>
                    </div>
                    <input type="submit" id="logform" class="btn-primary login" value="Login" />
                </div>
                <div class="text-center my-4">
                    <p>or sign up using</p>
                </div>
                <div class="text-center">
                    <a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://tuter.me"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://mail.google.com"><i class="fa-solid fa-envelope"></i></a>
                </div>
                <div class="sing-up">
                    <p>or sign up using  <a asp-controller="SignUp" asp-action="SignUp">SIGN UP</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('form').on('submit', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'post',
                url: '@Url.Action("Login","Home")',
                data: $('form').serialize(),
                success: function () {
                    $('form')[0].reset();
                    alert("You have logged in successfully.");
                }
            });
        });
    });
</script>